<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.main.dao.AssignDAO">

<!-- 과정전체 배정리스트 -->
	<select id="assList" resultType="com.gd.main.dto.AssListDTO" parameterType="hashmap">
		
		 select c2.co_no,c2.co_name,c2.co_startTime,c2.co_startDate,c.cli_name,c.cli_phone,e.emp_name,c2.co_condition
			from assign a,student s ,client c ,course c2 ,employee e
			where a.stu_no = s.stu_no and s.cli_no = c.cli_no and c2.co_no = a.co_no and s.emp_no = e.emp_no
					  <if test="assSearchTarget != null and assSearchTarget != '' and search != null and search != ''">
					 	<if test="assSearchTarget.equals('co_name')">
							and c2.co_name LIKE concat('%',#{search},'%')
						</if>
						<if test="assSearchTarget.equals('emp_name')">
							and e.emp_name LIKE concat('%',#{search},'%')
						</if>
						<if test="assSearchTarget.equals('co_condition')">
							and c2.co_condition LIKE concat('%',#{search},'%')
						</if>
					</if> 
		<!-- <if test="assSearchTarget != null and assSearchTarget != '' and search != null and search != ''">
					
					<if test="assSearchTarget.equals('emp_name')">
						and e.emp_name LIKE concat('%',#{search},'%')
					</if>
					<if test="assSearchTarget.equals('co_condition')">
						and c2.co_condition LIKE concat('%',#{search},'%')
					</if>
			</if> -->
		<!-- ORDER BY c2.co_no DESC limit #{cnt} OFFSET #{offset} -->
		<!-- select c2.co_no
			   , c2.co_name
		       , c2.co_startTime
		       , c2.co_startDate
		       , c.cli_name
		       , c.cli_phone
		       , e.emp_name
		       , c2.co_condition
	      from assign a
	           , student s
	           , client c
	           , course c2
	           , employee e
	           , subject s2
	    where a.stu_no = s.stu_no 
	       and s.cli_no = c.cli_no
	       and e.emp_no = s.emp_no
	       and c2.co_no = a.co_no -->
	       
	         
	</select>
<!-- 선택된 과정에 대한 배정 리스트 -->
<select id ="assCoList" resultType="hashmap" >

	select c2.co_name
			, s.stu_no
			, c.cli_name 
			, c.cli_phone 
			, e.emp_name 
			, a.ass_condition 
	from assign a 
			, student s 
			, client c 
			, course c2 
			, employee e 
	where a.stu_no = s.stu_no 
			and s.cli_no = c.cli_no 
			and e.emp_no = s.emp_no 
			and c2.co_no = a.co_no
			and c2.co_no = #{co_no} 
		<if test="assSearchTarget != null and assSearchTarget != '' and search != null and search != ''">
			 	<if test="assSearchTarget.equals('cli_name')">
					and c.cli_name  LIKE concat('%',#{search},'%')
				</if>
				<if test="assSearchTarget.equals('stu_no')">
					and s.stu_no = #{search}
				</if>
				<if test="assSearchTarget.equals('cli_phone')">
					and c.cli_phone LIKE concat('%',#{search},'%')
				</if>
				<if test="assSearchTarget.equals('ass_condition')">
					and a.ass_condition LIKE concat('%',#{search},'%')
				</if>
			</if> 
		
		

<!-- select co_name,stu_no,cli_name,cli_phone,emp_name,ass_condition from assign a
		left outer join client c on c.cli_no = stu_no
		left outer join course c2 on c2.co_no = a.co_no
		left outer join subject s on s.sub_no = a.sub_no
		left outer join employee e on e.emp_no = stu_no
		where c2.co_name =#{param1} -->

</select>

<select id="assStuCoList" resultType="hashmap">

select a.stu_no, cli_name , co_name ,co_startDate,co_endDate,co_startTime,ass_condition 
from assign a,student s ,client c ,course c2 
	where a.stu_no = s.stu_no and s.cli_no = c.cli_no and c2.co_no = a.co_no and a.stu_no=#{stu_no}
	
	<!-- select cli_name 
		, s2.sub_name 
		, c2.co_name 
		, c2.co_startDate 
		, c2.co_endDate 
		, c2.co_startTime 
		, a.ass_condition 
	from student s 
		, client c 
		, subject s2 
		, rsub r 
		, assign a
		, course c2 
	where s.stu_no = r.stu_no 
		and s.cli_no = c.cli_no 
		and s2.sub_no = r.sub_no 
		and a.co_no = c2.co_no -->

</select>
<select id="courList2" parameterType="hashmap" resultType="com.gd.main.dto.AssListDTO">
		SELECT co_no, co_name, subject.sub_no, subject.sub_name, co_startDate, co_endDate, 
		co_startTime, co_condition FROM course
		LEFT OUTER JOIN subject ON subject.sub_no = course.sub_no
		<where>
			<if test="startSearch != null and endSearch != null and
			courseNameSearch != null">
				<if test="startSearch != '' and endSearch != ''">
					<![CDATA[
					AND co_startDate >= #{startSearch}
					AND co_endDate <= #{endSearch}
					]]>
					<if test="courseNameSearch.equals('co_name')">
						AND co_name LIKE concat('%',#{keyword},'%')	
					</if>
					<if test="courseNameSearch.equals('co_condition')">
						AND co_condition LIKE concat('%',#{keyword},'%')
					</if>
					<if test="courseNameSearch.equals('sub_name')">
						AND subject.sub_name LIKE concat('%',#{keyword},'%')
					</if>
				</if>
			</if>
		</where>
		ORDER BY co_no DESC LIMIT #{cnt} OFFSET #{offset}
	</select>

	<select id="allCount" parameterType="hashmap" resultType="int">
		SELECT COUNT(co_no) FROM course
		LEFT OUTER JOIN subject ON subject.sub_no = course.sub_no

		<if test="startSearch != null and endSearch != null and
			courseNameSearch != null">
			<if test="startSearch != '' and endSearch != ''">
				<![CDATA[
				AND co_startDate >= #{startSearch}
				AND co_endDate <= #{endSearch}
				]]>
				<if test="courseNameSearch.equals('co_name')">
					AND co_name LIKE concat('%',#{keyword},'%')	
				</if>
				<if test="courseNameSearch.equals('co_condition')">
					AND co_condition LIKE concat('%',#{keyword},'%')
				</if>
				<if test="courseNameSearch.equals('sub_name')">
					AND subject.sub_name LIKE concat('%',#{keyword},'%')
				</if>
			</if>
		</if>
	</select>
	
	<insert id="assStuListInsert" parameterType="hashmap">
		INSERT INTO assign(ass_condition, stu_no, co_no) VALUES(#{ass_condition},#{stu_no},#{co_no})
	</insert>
	
	<select id="assStuListchange" resultType="hashmap">

	select s.stu_no, c.cli_name 
		from student s ,client c 
	where s.cli_no  = c.cli_no  and s.stu_no =#{stuCo}
	
	</select>
</mapper>