<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.main.dao.ClientDAO">
	
	<resultMap type="com.gd.main.dto.Client_Dto" id="client_Dto">
		<result column="cli_no" property="cli_no"/> 
		<result column="cli_name" property="cli_name"/> 
		<result column="cli_phone" property="cli_phone"/> 
		<result column="cli_req" property="cli_req"/> 
		<result column="cli_qDate" property="cli_qDate"/> 
		<result column="emp_no" property="emp_no"/> 
		<result column="sub_no" property="sub_no"/> 
		<result column="cli_log_date" property="cli_log_date"/> 
		<result column="cli_log_content" property="cli_log_content"/> 
		<result column="cli_log_result" property="cli_log_result"/> 
		<result column="cli_log_Dday" property="cli_log_Dday"/> 
		<result column="cli_log_Dtime" property="cli_log_Dtime"/> 
		<result column="emp_name" property="emp_name"/> 
		<result column="emp_phone" property="emp_phone"/> 
		<result column="emp_position" property="emp_position"/> 
		<result column="emp_id" property="emp_id"/> 
		<result column="emp_pw" property="emp_pw"/> 
		<result column="emp_startDate" property="emp_startDate"/> 
		<result column="emp_endDate" property="emp_endDate"/> 
		<result column="emp_condition" property="emp_condition"/> 
		<result column="sub_name" property="sub_name"/> 
		<result column="sub_condition" property="sub_condition"/> 
	
	</resultMap>
	
	

	
	
<!-- 	<select id="list_Client2" resultType="hashmap">
		select distinct  c.cli_no , c.cli_name ,c.cli_phone , c.cli_qDate , e.emp_name ,cl.cli_log_result ,ss.sub_name  
		from qsub q
		left outer join client c   on q.cli_no =c.cli_no
		left outer join employee e  on c.emp_no  = e.emp_no 
		left outer join client_log cl  on c.cli_no = cl.cli_no 
		left outer join subject ss on ss.sub_no = q.sub_no
	</select>
	 -->
	
	
	
	<!-- <select id="client_searh" parameterType="hashmap"  resultMap="client_Dto">
		SELECT   c.cli_no , c.cli_name ,c.cli_phone , c.cli_qDate , e.emp_name ,cl.cli_log_result ,ss.sub_name  
		FROM client  c
		LEFT JOIN employee  e  ON c.emp_no  =  e.emp_no 
		LEFT JOIN client_log  cl  ON c.cli_no =cl.cli_no 
		LEFT JOIN qsub  q  ON q.cli_no =c.cli_no
		LEFT JOIN subject  ss ON ss.sub_no = q.sub_no 
		<where>          		
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				
			        <if test ='searchType.equals("client")'>		
			          	AND c.cli_name LIKE  concat('%',#{keyword},'%') 
			    	</if>
						
		 			<if test ='searchType.equals("phone")'>	
			          	AND c.cli_phone LIKE  concat('%',#{keyword},'%') 
			    	</if>
			    	<if test ='searchType.equals("emp")'>	
			          	AND e.emp_name LIKE  concat('%',#{keyword},'%') 
			    	</if>
			    	<if test ='searchType.equals("result")'>	
			          	AND cl.cli_log_result LIKE  concat('%',#{keyword},'%') 
		    	  	</if>
		    	  	
		    	  	</if>
		</where>
			order by c.cli_no  desc
	</select> -->

	<!-- 회원 상세보기  -->
	<select id="detail_Client" parameterType="integer" resultMap="client_Dto">
		SELECT c.cli_no,c.cli_name,c.cli_phone,c.cli_qDate,c.cli_req,e.emp_name
		FROM client as c
		LEFT JOIN employee as e ON c.emp_no=e.emp_no
		WHERE c.cli_no= #{cli_no}	
	</select>
	
	<!-- 상세보기 페이지 일지 보기 -->
	<select id="clientLog" parameterType="integer" resultMap="client_Dto">
		SELECT client_log.cli_log_result ,client_log.cli_log_Dday,client_log.cli_log_Dtime ,client_log.cli_log_date ,client_log.cli_log_content , employee.emp_name 
		, client.cli_qDate 
		FROM client_log
		LEFT JOIN employee  on client_log.emp_no = employee.emp_no 
		LEFT JOIN client on client_log.cli_no =client.cli_no 
		WHERE client.cli_no =#{cli_no}
		order by  client_log.cli_log_date  desc 
	</select>

<!-- 	<select id="listsearchCount" parameterType="hashmap" resultType="integer">
			SELECT  COUNT( c.cli_no and c.cli_name  and c.cli_phone and c.cli_qDate and e.emp_name and cl.cli_log_result and ss.sub_name  ) 
			FROM client c
			LEFT JOIN employee e  on c.emp_no  = e.emp_no 
			LEFT JOIN client_log cl  on c.cli_no = cl.cli_no 
			LEFT JOIN qsub q  on q.cli_no =c.cli_no
			LEFT JOIN subject ss on ss.sub_no = q.sub_no 
		<where>          		
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				
			        <if test ='searchType.equals("client")'>		
			          	AND c.cli_name LIKE  concat('%',#{keyword},'%') 
			    	</if>
						
		 			<if test ='searchType.equals("phone")'>	
			          	AND c.cli_phone LIKE  concat('%',#{keyword},'%') 
			    	</if>
			    	<if test ='searchType.equals("emp")'>	
			          	AND e.emp_name LIKE  concat('%',#{keyword},'%') 
			    	</if>
			    	<if test ='searchType.equals("result")'>	
			          	AND cl.cli_log_result LIKE  concat('%',#{keyword},'%') 
		    	  	</if>
		    	  	
		   	</if>
		</where> 
	
			
</select> -->
<!-- <select id="listPageSearch" parameterType="hashmap" resultMap="client_Dto">
	SELECT   c.cli_no , c.cli_name ,c.cli_phone , c.cli_qDate , e.emp_name ,cl.cli_log_result ,ss.sub_name  
		FROM client  c
		LEFT JOIN employee  e  ON c.emp_no  =  e.emp_no 
		LEFT JOIN client_log  cl  ON c.cli_no =cl.cli_no 
		LEFT JOIN qsub  q  ON q.cli_no =c.cli_no
		LEFT JOIN subject  ss ON ss.sub_no = q.sub_no 
			<where>          		
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				
			        <if test ='searchType.equals("client")'>		
			          	AND c.cli_name LIKE  concat('%',#{keyword},'%') 
			    	</if>
						
		 			<if test ='searchType.equals("phone")'>	
			          	AND c.cli_phone LIKE  concat('%',#{keyword},'%') 
			    	</if>
			    	<if test ='searchType.equals("emp")'>	
			          	AND e.emp_name LIKE  concat('%',#{keyword},'%') 
			    	</if>
			    	<if test ='searchType.equals("result")'>	
			          	AND cl.cli_log_result LIKE  concat('%',#{keyword},'%') 
		    	  	</if>
		    	  	
		    	  	</if>
		</where>
		
			order by c.cli_no  desc limit #{postNum}  offset #{pageStart}
	</select> -->
		
<!-- 	<select id="allCount" resultType="integer">
		SELECT  COUNT( c.cli_no and c.cli_name  and c.cli_phone and c.cli_qDate and e.emp_name and cl.cli_log_result and ss.sub_name  ) 
			FROM client c
			LEFT JOIN employee e  on c.emp_no  = e.emp_no 
			LEFT JOIN client_log cl  on c.cli_no = cl.cli_no 
			LEFT JOIN qsub q  on q.cli_no =c.cli_no
			LEFT JOIN subject ss on ss.sub_no = q.sub_no 
	</select>	 -->
	
<!-- 	<select id="ajaxlist" resultType="com.gd.main.dto.Client_Dto">
			SELECT   c.cli_no , c.cli_name ,c.cli_phone , c.cli_qDate , e.emp_name ,cl.cli_log_result ,ss.sub_name  
		FROM client  c
		LEFT JOIN employee  e  ON c.emp_no  =  e.emp_no 
		LEFT JOIN client_log  cl  ON c.cli_no =cl.cli_no 
		LEFT JOIN qsub  q  ON q.cli_no =c.cli_no
		LEFT JOIN subject  ss ON ss.sub_no = q.sub_no 
	order by c.cli_no  desc limit #{param1} offset #{param2} 
	</select> -->
	
	 	<select id="ajaxSearch" parameterType="hashmap" resultMap="client_Dto">
			select * from (select  distinct c.cli_no,cli_name,cli_phone, cli_qDate,max(cli_log_date) as cli_log_date ,cli_log_Dday,cli_log_Dtime, cli_log_result, emp_name from client c 
			left join client_log cl on cl.cli_no = c.cli_no 
			left join employee e on e.emp_no = c.emp_no group by c.cli_no , cl.cli_log_result order by cli_log_date desc ) as t 

			<where>          		
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				
			        <if test ='searchType.equals("client")'>		
			          	AND t.cli_name LIKE  concat('%',#{keyword},'%') 
			    	</if>
						
		 			<if test ='searchType.equals("phone")'>	
			          	AND t.cli_phone LIKE  concat('%',#{keyword},'%') 
			    	</if>
			    	<if test ='searchType.equals("emp")'>	
			          	AND t.emp_name LIKE  concat('%',#{keyword},'%') 
			    	</if>
			    	<if test ='searchType.equals("result")'>	
			          	AND t.cli_log_result LIKE  concat('%',#{keyword},'%') 
		    	  	</if>
		    	  	
		    	  	</if>
		</where>
		group by t.cli_no
		order by t.cli_no  desc limit #{cnt}  offset #{offset}
		</select>
		
		
		<select id="ajaxSearchCnt" parameterType="hashmap" resultType="integer">
		SELECT  count(distinct c.cli_no ) 
		FROM client  c
		LEFT JOIN employee  e  ON c.emp_no  =  e.emp_no 
		LEFT JOIN client_log  cl  ON c.cli_no =cl.cli_no 
		<where>          		
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				
			        <if test ='searchType.equals("client")'>		
			          	AND c.cli_name LIKE  concat('%',#{keyword},'%') 
			    	</if>
						
		 			<if test ='searchType.equals("phone")'>	
			          	AND c.cli_phone LIKE  concat('%',#{keyword},'%') 
			    	</if>
			    	<if test ='searchType.equals("emp")'>	
			          	AND e.emp_name LIKE  concat('%',#{keyword},'%') 
			    	</if>
			    	<if test ='searchType.equals("result")'>	
			          	AND cl.cli_log_result LIKE  concat('%',#{keyword},'%') 
		    	  	</if>
		    	  	
		   	</if>	   	
		</where> 	
		
		</select>
		
<!-- 		<select id="ajaxSearchCnt" parameterType="hashmap" resultType="integer">
			SELECT  COUNT( c.cli_no and c.cli_name  and c.cli_phone and c.cli_qDate and e.emp_name and cl.cli_log_result and ss.sub_name  ) 
			FROM client c
			LEFT JOIN employee e  on c.emp_no  = e.emp_no 
			LEFT JOIN client_log cl  on c.cli_no = cl.cli_no 
			LEFT JOIN qsub q  on q.cli_no =c.cli_no
			LEFT JOIN subject ss on ss.sub_no = q.sub_no 
		<where>          		
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				
			        <if test ='searchType.equals("client")'>		
			          	AND c.cli_name LIKE  concat('%',#{keyword},'%') 
			    	</if>
						
		 			<if test ='searchType.equals("phone")'>	
			          	AND c.cli_phone LIKE  concat('%',#{keyword},'%') 
			    	</if>
			    	<if test ='searchType.equals("emp")'>	
			          	AND e.emp_name LIKE  concat('%',#{keyword},'%') 
			    	</if>
			    	<if test ='searchType.equals("result")'>	
			          	AND cl.cli_log_result LIKE  concat('%',#{keyword},'%') 
		    	  	</if>
		    	  	
		   	</if>	   	
		</where> 	
		
		</select> -->

		<delete id="ajaxDelete" parameterType="String">
			DELETE FROM client WHERE cli_no=#{idx}
		</delete>
		
		<insert id="cliReg" parameterType="String">
			INSERT INTO client(cli_name,cli_phone,cli_req)values(#{cli_name},#{cli_phone},#{cli_req})
		</insert>
		
		<update id="cliUpdate" parameterType="hashmap">
			UPDATE client SET  cli_name =#{cli_name} , cli_phone =#{cli_phone} WHERE cli_no=#{cli_no}
		</update>
		
		<select id="empList" resultType="com.gd.main.dto.Client_Dto">
			SELECT emp_no, emp_condition, emp_position,emp_phone, emp_name FROM employee
		
		</select>
		
		<select id="empSearch" parameterType="String" resultType="com.gd.main.dto.Client_Dto">
			SELECT emp_no, emp_condition,emp_position, emp_phone, emp_name FROM employee 
			<where>
				
					emp_name LIKE  concat('%',#{keyword},'%') 
			</where>	

		</select>
		<update id="empUp" parameterType="hashmap">
			UPDATE client SET emp_no =#{emp_no} WHERE cli_no=#{cli_no}
		</update>
		<insert id="cliRegCo" parameterType="hashmap">
			 <selectKey keyProperty="cli_no" resultType="int" order="BEFORE">
    			 SELECT LAST_INSERT_ID()
  			</selectKey>
			INSERT INTO qsub (sub_no,cli_no) values(#{string},#{cli_no})
		</insert>
		
		<select id="ajaxSubSearch" parameterType="integer" resultType="String">
		SELECT  group_concat(s.sub_name SEPARATOR ',')FROM subject s
		left join qsub q on q.sub_no  = s.sub_no 
		left join client c on q.cli_no= c.cli_no
				where c.cli_no =#{cli_no};	
		</select>
		
		<select id="regSub" resultType="HashMap">
			SELECT sub_name, sub_no FROM subject WHERE not sub_condition  in('숨김')
		</select>
		
		<select id="cli_no" resultType="integer">
			SELECT cli_no from client ORDER BY cli_no DESC
		</select>
		
		
			<!-- 담당직원 호출 -->
		<select id="cliManager" parameterType="integer"  resultType="com.gd.main.dto.Client_Dto">
			SELECT e.emp_name , e.emp_no from employee e 
				LEFT JOIN client c ON c.emp_no = e.emp_no 
				WHERE c.cli_no= #{cli_no}
		</select>
		<!-- ,#{cli_log_Dtime} -->
		<insert id="scheRegister" parameterType="hashmap">
			INSERT INTO client_log(cli_log_Dday,cli_log_content,cli_no,emp_no,cli_log_result)values(#{cli_log_Dday},#{cli_log_content},#{cli_no},#{emp_no},#{cli_log_result}) 
		</insert>
		
		<select id="checkCnt" parameterType="hashmap" resultType="int">
			select count(d.cli_no) from (select t.* from (select  distinct c.cli_no,cli_name,cli_phone, max(cli_log_date) as cli_log_date ,cli_log_Dday,cli_log_Dtime, cli_log_result, emp_name from client c 
			left join client_log cl on cl.cli_no = c.cli_no 
			left join employee e on e.emp_no = c.emp_no group by c.cli_no , cl.cli_log_result,cli_log_Dday having cli_log_date= max(cli_log_date) order by cli_log_date desc ) as t 
			group by t.cli_no having t.cli_log_result='상담예정')as d
			<where>
			 <!-- cl.cli_log_result ='상담예정' --> 
			<if test="cli_log_Dday!=null and  cli_log_Dday!='' ">
				and d.cli_log_Dday LIKE  concat('%',#{cli_log_Dday},'%')  
			</if>
			<if test= "searchType !='' and searchType != null and keyword!='' and keyword!=null ">
				<if test="searchType.equals('client')">
				  	and d.cli_name like concat('%',#{keyword},'%')
				</if>
				 <if test="searchType.equals('phone')">
				 	and d.cli_phone like concat('%',#{keyword},'%')
				 </if>
				 <if test="searchType.equals('emp')">
					and d.emp_name like concat('%',#{keyword},'%')
				</if>
			</if>
			</where>
		</select>
		
<select id="shcekList" parameterType="hashmap" resultType="com.gd.main.dto.Client_Dto">
	select d.* from (select t.* from (select  distinct c.cli_no,cli_name,cli_phone, max(cli_log_date) as cli_log_date ,cli_log_Dday,cli_log_Dtime, cli_log_result, emp_name from client c 
			left join client_log cl on cl.cli_no = c.cli_no 
			left join employee e on e.emp_no = c.emp_no group by c.cli_no , cl.cli_log_result,cli_log_Dday having cli_log_date= max(cli_log_date) order by cli_log_date desc ) as t 
		group by t.cli_no having t.cli_log_result='상담예정')as d
			<where>
				<!--   t.cli_log_result ='상담예정'  --><!--or  cli_log_result ='상담완료' -->
				
			<!-- cli_log_result ='상담예정'
			<if test=>
			
			</if> -->
			<if test="cli_log_Dday!=null and  cli_log_Dday!='' ">
				and d.cli_log_Dday    LIKE  concat('%',#{cli_log_Dday},'%')  
			</if>
			<if test= "searchType !='' and searchType != null and keyword!='' and keyword!=null ">
				<if test="searchType.equals('client')">
				  	AND d.cli_name LIKE  concat('%',#{keyword},'%') 
				</if>
				 <if test="searchType.equals('phone')">
				 	and d.cli_phone like concat('%',#{keyword},'%')
				 </if>
				 <if test="searchType.equals('emp')">
					and d.emp_name like concat('%',#{keyword},'%')
				</if>
			</if>
			 
			</where>
			
			
			order by d.cli_log_date desc limit #{cnt}  offset #{offset}
			<!-- order by cli_log_date desc limit #{offset},#{cnt} -->
		</select>
		<!-- <select id="chkEndCnt" resultType="int">
			select cli_no from client_log cl  where  cl.cli_log_result = '상담완료' order by cli_no asc
		</select>
		 -->
		
		<!--  new 방식
			<select id="ajaxSearch" parameterType="hashmap" resultMap="client_Dto">
				SELECT   distinct c.cli_no , c.cli_name ,c.cli_phone , c.cli_qDate , e.emp_name ,cl.cli_log_result , group_concat(s.sub_name SEPARATOR ',') as sub_name
				FROM client  c
				LEFT JOIN employee  e  ON c.emp_no  =  e.emp_no 
				LEFT JOIN client_log  cl  ON c.cli_no =cl.cli_no 
				LEFT JOIN qsub  q  ON q.cli_no =c.cli_no 
				left join subject s  on q.sub_no  = s.sub_no 
			<where>          		
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				
			        <if test ='searchType.equals("client")'>		
			          	AND c.cli_name LIKE  concat('%',#{keyword},'%') 
			    	</if>
						
		 			<if test ='searchType.equals("phone")'>	
			          	AND c.cli_phone LIKE  concat('%',#{keyword},'%') 
			    	</if>
			    	<if test ='searchType.equals("emp")'>	
			          	AND e.emp_name LIKE  concat('%',#{keyword},'%') 
			    	</if>
			    	<if test ='searchType.equals("result")'>	
			          	AND cl.cli_log_result LIKE  concat('%',#{keyword},'%') 
		    	  	</if>
		    	  	
		    </if>
		    <if test = "cli_no !=null ">
		    	c.cli_no=#{no}
		    </if>
		</where>
	
		
		
		
		</select> -->
		
</mapper>


	

	
