<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.main.dao.EmployeeDAO">

	 <!--  직원정보 등록 -->
	<insert id="empWrite" parameterType="hashmap" >
		INSERT INTO employee(
												emp_id,
												emp_pw,
												emp_name,
												emp_phone,
												emp_position,
												emp_startDate,
											    emp_condition 
												) VALUES										
												(	
												#{emp_id},
												#{emp_pw},
												#{emp_name},
												#{emp_phone},
												#{emp_position},
												#{emp_startDate},
												#{emp_condition}) 
	</insert>
 
	<!-- 직원목록 보기 -->
	<select id="list" resultType="com.gd.main.dto.EmployeeDTO">
		SELECT emp_no, emp_name, emp_id, emp_phone, emp_condition, emp_position, emp_startDate, emp_endDate FROM employee
		ORDER BY emp_no ASC limit #{param1} offset #{param2}
	</select>
	
	<select id="allCount" resultType="int">
		SELECT COUNT(emp_no) FROM employee
	</select>

	<select id="empOverlay" parameterType="String" resultType="String">
		SELECT emp_name
		FROM 
			employee
		WHERE 
			emp_name=#{emp_name}		
		<!-- SELECT emp_name FROM employee WHERE emp_name = #{chkName} -->
	</select>
	
	<select id = "selectEmpMyInfo" parameterType="com.gd.main.dto.EmployeeDTO" resultType="com.gd.main.dto.EmployeeDTO">
		SELECT emp_no, emp_pw, emp_name, emp_id, emp_phone, emp_condition, emp_position, emp_startDate, emp_endDate 
		FROM employee
		Where emp_no = #{emp_no};
	</select>

	<!-- 직원정보 수정하기 -->
	<update id="empUpdate" parameterType="hashmap">
 		UPDATE employee SET 
			emp_id = #{emp_id}
			,emp_pw= #{emp_pw}
			,emp_phone = #{emp_phone}
			,emp_position = #{emp_position}
			,emp_startDate =#{emp_startDate}
			,emp_condition =#{emp_condition}
		WHERE emp_no= #{emp_no} 
	</update>

</mapper>