<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.main.dao.HomeDAO">
	
	<select id="empLogin" resultType="String">
		SELECT emp_id, emp_name FROM employee WHERE emp_id = #{param1} AND emp_pw=#{param2}
	</select>
	
	<select id="empLoginName" resultType="String">
		SELECT emp_name FROM employee WHERE emp_id = #{param1}
	</select>
	
	<select id="empNo" resultType="int">
		SELECT emp_no FROM employee WHERE emp_id = #{param1}
	</select>
	
</mapper>