<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.main.dao.StudentDAO">
	
	<select id="list" resultType="com.gd.main.dto.StuDTO">
		SELECT stu_no, cli_name, cli_phone, stu_birth, stu_age, stu_gender, emp_name FROM student s 
		LEFT OUTER JOIN client c ON s.cli_no = c.cli_no
		LEFT OUTER JOIN employee e ON s.emp_no = e.emp_no
		ORDER BY stu_no DESC limit #{param1} OFFSET #{param2}
	</select>
	
	<select id="allCount" resultType="int">
		SELECT COUNT(stu_no) FROM student s
	</select>
	
	<select id="cliSearchList" resultType="com.gd.main.dto.StuDTO">
		SELECT cli_no, cli_name, cli_phone, emp_name, c.emp_no FROM client c 
		LEFT OUTER JOIN employee e ON c.emp_no = e.emp_no
		WHERE cli_name=#{param1} OR cli_phone=#{param1}
	</select>
	
	<select id="cliChoice" resultType="com.gd.main.dto.StuDTO">
		SELECT cli_name, cli_phone, emp_name FROM client c 
		LEFT OUTER JOIN employee e ON c.emp_no = e.emp_no
		WHERE cli_no=#{param1}
	</select>
	
	<select id="subSearchList" resultType="com.gd.main.dto.StuDTO">
		SELECT sub_no, sub_name FROM subject		
		WHERE sub_name=#{param1}
	</select>
	
	<select id="subChoice" resultType="com.gd.main.dto.StuDTO">
		SELECT sub_name FROM subject		
		WHERE sub_no=#{param1}
	</select>
	
	<select id="stuDetail" resultType="com.gd.main.dto.StuDTO">
		SELECT stu_no, cli_name, cli_phone, stu_birth, stu_age, stu_gender, stu_condition, emp_name FROM student s
		LEFT OUTER JOIN client c ON c.cli_no = s.cli_no 
		LEFT OUTER JOIN employee e ON e.emp_no =s.emp_no 
		WHERE stu_no = #{param1}
	</select>
	
	<insert id="stuRegister" useGeneratedKeys="true" keyColumn="stu_no" keyProperty="stu_no"  parameterType='hashmap'>
		INSERT INTO student (cli_no, emp_no, stu_birth, stu_age, stu_gender, stu_condition)
		VALUES (#{cli_no}, #{emp_no}, #{stu_birth}, #{stu_age}, #{stu_gender}, #{stu_condition})
	</insert>
	
	<update id="stuUpdate" parameterType='hashmap'>
		UPDATE student SET 
			stu_birth = #{stu_birth},
			stu_gender = #{stu_gender},
			stu_condition = #{stu_condition}
		WHERE stu_no = #{stu_no}
	</update>
	
</mapper>