<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.main.dao.StudentDAO">
	
	<select id="list" resultType="com.gd.main.dto.StuDTO">
		SELECT stu_no, cli_name, cli_phone, stu_birth, stu_age, emp_name FROM student s 
		LEFT OUTER JOIN client c ON s.cli_no = c.cli_no
		LEFT OUTER JOIN employee e ON s.emp_no = e.emp_no ;
	</select>
	
	<select id="allCount" resultType="int">
		SELECT COUNT(stu_no) FROM student s
	</select>
	
	
</mapper>